
## Load CSS for Font Awesome
assets:
    moment_js: true
    font_awesome: true

##
## Routes to mounts controllers on
##
#routes:
#    distribution:
#        mount: distribution
#    kittens:
#        mount: internet
