
## Load CSS for Font Awesome
assets:
    moment_js: true
    font_awesome: true

##
## Routes to mounts controllers on and the directories they share
##
#routes:
#    manuals:
#        mount: manuals
#        source: /public/manuals
#    pictures:
#        mount: downloads/pictures
#        source: /data/export/media/pictures
#    videos:
#        mount: downloads/videos
#        source: /data/export/media/videos
